<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title"><a href="https://itsanysek.github.io/">{{ site.title }}</a></h1>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1> {{ page.title }} </h1>
        <h3> By: {{ page.author }} </h3>
        <h3> Date: {{ page.date }} </h3>
        <h3> Categories: {{ page.categories }} </h3>
        <hr>
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright"><a href="https://github.com/ItsAnysek/itsanysek.github.io">{{ site.title }}</a> maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        <p><a href="https://itsanysek.github.io/">Home</a></p>
      </footer>
    </div>
    {% include buttons.html %}
  </body>
</html>